/* GENERAL RULES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// VARIABLES
$primary-color: tomato;
$secondary-color: sandybrown;
$text-colors-w: white;
$text-colors-b: black;
$button-black: black;
$p-20: 20px;
$m-20: 20px;

/* MAIN */
body {
  background-color: $primary-color;
}

.container {
  background-color: $secondary-color;
  color: $text-colors-w;
  min-height: 50vh;
  text-align: center;
  padding-top: $p-20;

  .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 20%;

    button {
      background-color: $button-black;
      color: $text-colors-w;
      font-size: medium;
      border-radius: 20px;
      padding: 10px;
    }

    h1 {
      color: $text-colors-w;
      text-align: center;
    }

    p {
      color: $text-colors-b;
      padding: $p-20;
      inline-size: fit-content;
    }
  }
}
